/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* ----------heart---------- */
.contour {
  fill: var(--hover);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .core {
  fill: var(--hover);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--hover);
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
  fill: var(--sparks);
}

.like-icon.is-liked .core {
  fill: var(--contour);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--contour);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--contour);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparks 0.3s ease-in 0.3s 1;
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heart {
  from {
    scale: 1;
  }
  50% {
    scale: 1.25;
  }
  100% {
    scale: 1;
  }
}
