/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-family-basic);
  font-variation-settings: "wght", var(--font-weight-basic);
  color: var(--color-black);
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: var(--background-image);
  background-color: var(--color-white);
}

/* ----------header---------- */
.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  row-gap: 20px;
  padding-block-end: 129px;
  padding-block-start: 127px;
}

.card {
  inline-size: min(100vi, 700px);
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
}

.header_logo {
  font-family: var(--font-family-accent);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: var(--title-line-height);
  text-transform: uppercase;
}

.header_point {
  font-family: var(--font-family-accent);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  line-height: var(--point-line-height);
}

/* --------------------main_secrion------------------ */
.main {
  display: flex;
  flex-direction: column;
  row-gap: 51px;
  align-items: center;
}

.section_image {
  position: relative;
  
}

.section_card {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
img {
  block-size: 100%;
  inline-size: 100%;

}
.section_title {
  font-weight: var(--font-weight-accent);
  font-size: var(--basic-size);
  line-height: var(--section-height);
  padding: 5px 0 5px 10px;
  border-bottom: 2px solid var(--color-black);
}

.section_label {
  position: absolute;
  top: 27px;
  right: 25px;
  opacity: 0.5;
  color: var(--color-black);
  text-shadow: 0 0 1px var(--color-white);
  font-family: var(--font-family-accent);
  z-index: 1;
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: hard-light;
}

.section_pic {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  border-bottom: 2px solid var(--color-black);
}

.card_footer {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.content_footer {
  font-size: var(--basic-size);
  line-height: var(--basic-line-height);
}

/* -----------btn-------------- */

.button-like {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.button {
  width: 130px;
  height: 38px;
  border: 2px solid var(--color-black);
  font-family: var(--font-family-accent);
  font-size: 14px;
  color: var(--color-black);
  background-color: transparent;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.5s ease-in-out;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-black);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  color: var(--color-white);
}

.button:hover:after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 10;
  text-align: center;
  mix-blend-mode: difference;
  color: var(--color-white);
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  background-color: transparent;
  padding: 0;
}

.button_section_footer {
  background-color: var(--color-white);
  inline-size: min(100vi, 340px);
  padding-block-start: 24px;
  padding-block-end: 25px;
}

.section_discet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-block-end: 50px;
}

.button svg {
  position: relative;
  z-index: 1;
  color: var(--color-white);
  mix-blend-mode: difference;
  inline-size: 1.5em;
  block-size: 1.5em;
}

/* -----modal----- */
.modal_window {
  display: flex;
  gap: 20px;
  align-items: center;
}

.modal {
  max-width: 353px;
  width: 100%;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-black);
  z-index: 3;
  padding: 30px;
}

.modal__title {
  color: currentColor;
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: var(--basic-line-height);
  text-transform: uppercase;
}

.modal__button {
  width: 100%;
  margin-block-start: 20px;
}

.floppy_icon {
  inline-size: 4.5rem;
  block-size: 2.5rem;
}

.modal::backdrop {
  opacity: 0.75;
  background: var(--color-black);
}

/* -------кнопки---------- */
.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-black);
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-black);
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::before {
  transform: scaleX(1);
}

.heart_icon:focus {
  outline: none;
}

.heart_icon:focus-visible {
  border: 2px solid var(--color-black);
}

/* ------------filter------------ */

.filter-brightness {
  filter: brightness(2);
}

.filter-contrast {
  filter: contrast(2);
}

.filter-blur {
  filter: blur(10px);
}

.filter-opacity-sepia {
  filter: opacity(80%) sepia(20%);
}

.filter-saturate {
  filter: saturate(10%);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

/* -----media-and-support------- */

@media (max-width: 376px) {
  .card-header {
    row-gap: 11px;
    padding-block-end: 104px;
    padding-block-start: 110px;
  }

  .header_logo {
    margin-block-start: 0;
  }

  .header_point {
    margin-block-end: 10px;
  }

  .main {
    row-gap: 49px;
  }

  .section_title {
    padding: 5px 5px 5px 10px;
  }

  .card_footer {
    padding: 26px;
  }

  .button_section_footer {
    inline-size: 306px;
    display: grid;
    justify-items: center;
    align-content: center;
    padding-block-start: 42px;
    padding-block-end: 40px;
  }

  .button svg {
    inline-size: 28px;
    block-size: 28px;
  }
}

@supports (-webkit-text-stroke: 1px var(--label-text-shadow)) {
  .section-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-white);
  }
}
